/* CSS Reset */
{
    margin: 0;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

/* Defaults */

body {
	margin: 0 auto;
	width: 800px;
	font: 13px Helvetica, Arial, sans-serif;
	background: #EBEBEB;
	background: url("images/background.png");
	}
	
h1, h2, h3 {
	color: #7C7C7C;
	text-shadow: 1px 1px #FFF;
	}

h1 {
	font-size: 30px;
	}
	
h2 {
	font-size: 18px;
	}

h3 {
	font-size: 13px;
	}
	
a {
	text-decoration: none;
	font-weight: bold;
	color: #AB3E5B;
	}
	
	a:hover {
		text-decoration: underline;
		color: #B3CC57;
		text-shadow: 1px 1px #FFF;
		}
		
/* Content */
#content {
	display: table;
	}

	#data {
		display: table-cell;
		width: 600px;
		padding: 0 20px;
		}
	
	aside {
		display: table-cell;
		width: 200px;
		border-left: 1px dashed #7C7C7C;
		padding: 0 20px;
		}
		
.inlineList {
	margin-left: -30px;
	list-style: none;
	}
	
	.inlineList li {
		margin-right: 15px;
		float: left;
		}
		
.bigButton {
	display: block;
	width: 150px;
	margin-bottom: 20px;
	padding: 40px 15px;
	border: 2px solid;
	border-radius: 3px;
	box-shadow: 0 5px 25px -5px #000000;
	background: #FFF;
	background: url("images/grid-small.png");
	text-align: center;
	}

/* Header */
header {
	position: top;
	margin: 0;
	margin-bottom: 50px;
	width: 100%;
	height: 150px;
	background: #FFF;
	background: url("images/grid-small.png");
	border-left: 1px dashed #7C7C7C;
	border-bottom: 1px dashed #7C7C7C;
	border-right: 1px dashed #7C7C7C;
	box-shadow: 0 5px 25px -5px #000000;
	}
	
	header #logo {
		margin: 10px 10px 10px 32px;
		height: 130px;
		float: left;
		}
	
	header nav {
		position: relative;
		top: 32px;
		margin-left: auto;
		margin-right: 32px;
		width: 440px;
		height: 85px;
		background: #EBEBEB;
		background: url("images/background.png");
		outline: 1px dashed #7C7C7C;
		box-shadow: inset 0 5px 25px -5px #000000;
		}
		
		header nav ul {
			position: relative;
			top: 33px;
			margin: 0;
			margin-left: -20px;
			list-style: none;
			}
			
			header nav ul li {
				margin: 0 20px;
				display: block;
				height: 25px;
				float: left;
				}
				
				header nav ul li a {
					font-size: 16px;
					}
	
	header #login {
		display: none;
		}

/* Footer */
footer {
	margin-top: 50px;
	position: bottom;
	width: 100%;
	height: 80px;
	border-top: 1px dashed #7C7C7C;
	}
	
	footer nav {
		margin-left: 40px;
		}
		
		footer nav ul {
			margin: 0;
			margin-top: 34px;
			list-style: none;
			}
			
			footer nav ul li {
				margin: 0 20px;
				display: block;
				height: 25px;
				float: left;
				}
